body {
    font-family: Roboto, Arial;
    margin: 0px;
    background-color: #2F3237;
    color: white;
}
a {
    color: white;
    text-decoration: underline;
}

p {
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 20px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
}